<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Max Fish Calculator</title>
  <style>
    div.form {
      display: flex;
    }
    fieldset {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 6px;
      grid-row-gap: 2px;
    }
    p {
      margin: 2px;
    }
  </style>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<body>
    <div class="" id="app">
      <div class="form">
        <fieldset>
          <label>Latitude : </label><input type="number" v-model="latitude" step="0.01">
          <label>Longitude : </label><input type="number" v-model="longitude" step="0.01">
          <label>Inclinaison : </label><input type="number" v-model="angle" step="1" placeholder="30">
        </fieldset>
        <fieldset>
          <label>kWc installé : </label><input type="number" v-model="kwc_installed" step="0.01" placeholder="1.6">
          <label>Longueur d'un panneau (en m) : </label><input type="number" v-model="longueur" step="0.01" placeholder="1.721">
          <label>Largeur d'un panneau (en m) : </label><input type="number" v-model="largeur" step="0.01" placeholder="1.133">
          <label>Nombre de panneaux : </label><input type="number" v-model="qty" step="1">
          <label>Rendement des panneaux : </label><input type="number" v-model="rendement" step="0.01" placeholder="0.21">
        </fieldset>
      </div>
      <div>
        <button @click="calculer">Calculer</button>
      </div>
      <div>
        <p>Surface de panneaux : <strong>{{ surface_panneaux }} m2</strong></p>
        <p>Production quotidienne moyenne du meilleur mois : <strong>{{ best_month_daily_theo_prod }} kWh</strong> (entre 2005 et 2020)</p>
        <p>Production quotidienne moyenne : <strong>{{ avg_daily_theo_prod }} kWh</strong> (entre 2005 et 2020)</p>
        <p>Fish max possible : <strong>{{ max_fish }} F</strong></p>
        <p>Fish moyen : <strong>{{ avg_fish }} F</strong></p>
      </div>
  </div>

    <script>
      const { createApp } = Vue

      createApp({
        data() {
          return {
            // Info geo
            latitude: 47.256,
            longitude: -0.072,
            angle: 30,
            // Info install
            kwc_installed: 0,
            longueur: 1.721,
            largeur: 1.133,
            qty: 1,
            rendement: 0.21,
            // Resultat calcul
            surface_panneaux: 0,
            best_month_daily_theo_prod: 0,
            avg_daily_theo_prod: 0,
            max_fish: 0,
            avg_fish: 0,
          }
        },
        methods: {
          async calculer() {
            let url = `https://re.jrc.ec.europa.eu/api/v5_2/MRcalc?lat=${this.latitude}&lon=${this.longitude}&startyear=2005&endyear=2020&raddatabase=PVGIS-SARAH2&angle=${this.angle}&browser=0&outputformat=json&userhorizon=&usehorizon=1&js=1&select_database_month=PVGIS-SARAH2&selectrad=1`
            let req = await fetch("https://corsproxy.io/?" + encodeURIComponent(url))
            let data = await req.json()
            console.log(data)
            this.surface_panneaux = (this.longueur * this.largeur * this.qty).toFixed(2)
            let total = 0
            let max = 0
            data["outputs"]["monthly"].forEach(element => {
              total += element["H(i)_m"]
              if(element["H(i)_m"] > max)
                max = element["H(i)_m"]
            });
            let daily_avg = total / (data["outputs"]["monthly"].length / 12 * 365.25)

            this.avg_daily_theo_prod = (daily_avg * this.surface_panneaux * this.rendement).toFixed(2)
            this.best_month_daily_theo_prod = (max * this.surface_panneaux * this.rendement / 30.5).toFixed(2)
            this.max_fish = (this.best_month_daily_theo_prod / this.kwc_installed).toFixed(2)
            this.avg_fish = (this.avg_daily_theo_prod / this.kwc_installed).toFixed(2)
          }
        }
      }).mount('#app')
    </script>
</body>
</html>
