<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Max Fish Calculator</title>
  <style>
    div.form {
      display: flex;
    }
    fieldset {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 6px;
      grid-row-gap: 2px;
    }
    p {
      margin: 2px;
    }
  </style>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<body>
    <div class="" id="app">
      <div class="form">
        <fieldset>
          <label>Latitude : </label><input type="number" v-model="latitude" step="0.01">
          <label>Longitude : </label><input type="number" v-model="longitude" step="0.01">
          <label>Inclinaison : </label><input type="number" v-model="angle" step="1" placeholder="30">
        </fieldset>
        <fieldset>
          <label>kWc installé : </label><input type="number" v-model="kwc_installed" step="0.01" placeholder="1.6">
          <label>Longueur d'un panneau (en m) : </label><input type="number" v-model="longueur" step="0.01" placeholder="1.721">
          <label>Largeur d'un panneau (en m) : </label><input type="number" v-model="largeur" step="0.01" placeholder="1.133">
          <label>Nombre de panneaux : </label><input type="number" v-model="qty" step="1">
          <label>Rendement des panneaux : </label><input type="number" v-model="rendement" step="0.01" placeholder="0.21">
        </fieldset>
      </div>
      <div>
        <button @click="calculer">Calculer</button>
      </div>
      <div>
        <p>Surface de panneaux : <strong>{{ surface_panneaux }} m2</strong></p>
        <p>Production quotidienne moyenne du meilleur mois : <strong>{{ best_month_daily_theo_prod }} kWh</strong> (entre 2005 et 2020)</p>
        <p>Production quotidienne moyenne : <strong>{{ avg_daily_theo_prod }} kWh</strong> (entre 2005 et 2020)</p>
        <p>Fish max possible : <strong>{{ max_fish }} F</strong></p>
        <p>Fish moyen : <strong>{{ avg_fish }} F</strong></p>
      </div>
  </div>

    <script>
      const { createApp } = Vue

      createApp({
        data() {
          return {
            // Info geo
            latitude: 47.195,
            longitude: -0.294,
            angle: 30,
            // Info install
            kwc_installed: 1.6,
            longueur: 1.721,
            largeur: 1.133,
            qty: 4,
            rendement: 0.21,
            // Resultat calcul
            surface_panneaux: 0,
            best_month_daily_theo_prod: 0,
            avg_daily_theo_prod: 0,
            max_fish: 0,
            avg_fish: 0,
          }
        },
        methods: {
          async calculer() {
            let url = `https://re.jrc.ec.europa.eu/api/v5_2/MRcalc?lat=${this.latitude}&lon=${this.longitude}&startyear=2005&endyear=2020&raddatabase=PVGIS-SARAH2&angle=${this.angle}&browser=0&outputformat=json&userhorizon=&usehorizon=1&js=1&select_database_month=PVGIS-SARAH2selectrad=1`
            let req = await fetch("https://corsproxy.io/?" + encodeURIComponent(url))
            let data = await req.json()
            this.surface_panneaux = (this.longueur * this.largeur * this.qty).toFixed(2)
            let values = {
              "monthly": [
                {
                  "year": 2005,
                  "month": 1,
                  "H(i)_m": 51.91
                },
                {
                  "year": 2005,
                  "month": 2,
                  "H(i)_m": 66.36
                },
                {
                  "year": 2005,
                  "month": 3,
                  "H(i)_m": 121.23
                },
                {
                  "year": 2005,
                  "month": 4,
                  "H(i)_m": 144.55
                },
                {
                  "year": 2005,
                  "month": 5,
                  "H(i)_m": 178.25
                },
                {
                  "year": 2005,
                  "month": 6,
                  "H(i)_m": 196.84
                },
                {
                  "year": 2005,
                  "month": 7,
                  "H(i)_m": 174.74
                },
                {
                  "year": 2005,
                  "month": 8,
                  "H(i)_m": 203.72
                },
                {
                  "year": 2005,
                  "month": 9,
                  "H(i)_m": 144.48
                },
                {
                  "year": 2005,
                  "month": 10,
                  "H(i)_m": 101.16
                },
                {
                  "year": 2005,
                  "month": 11,
                  "H(i)_m": 83.91
                },
                {
                  "year": 2005,
                  "month": 12,
                  "H(i)_m": 62.99
                },
                {
                  "year": 2006,
                  "month": 1,
                  "H(i)_m": 52.17
                },
                {
                  "year": 2006,
                  "month": 2,
                  "H(i)_m": 55.73
                },
                {
                  "year": 2006,
                  "month": 3,
                  "H(i)_m": 113
                },
                {
                  "year": 2006,
                  "month": 4,
                  "H(i)_m": 156.96
                },
                {
                  "year": 2006,
                  "month": 5,
                  "H(i)_m": 161.68
                },
                {
                  "year": 2006,
                  "month": 6,
                  "H(i)_m": 212.61
                },
                {
                  "year": 2006,
                  "month": 7,
                  "H(i)_m": 208.07
                },
                {
                  "year": 2006,
                  "month": 8,
                  "H(i)_m": 155.22
                },
                {
                  "year": 2006,
                  "month": 9,
                  "H(i)_m": 139.31
                },
                {
                  "year": 2006,
                  "month": 10,
                  "H(i)_m": 93.74
                },
                {
                  "year": 2006,
                  "month": 11,
                  "H(i)_m": 75.82
                },
                {
                  "year": 2006,
                  "month": 12,
                  "H(i)_m": 54.56
                },
                {
                  "year": 2007,
                  "month": 1,
                  "H(i)_m": 54.28
                },
                {
                  "year": 2007,
                  "month": 2,
                  "H(i)_m": 72.46
                },
                {
                  "year": 2007,
                  "month": 3,
                  "H(i)_m": 123.5
                },
                {
                  "year": 2007,
                  "month": 4,
                  "H(i)_m": 196.62
                },
                {
                  "year": 2007,
                  "month": 5,
                  "H(i)_m": 142.69
                },
                {
                  "year": 2007,
                  "month": 6,
                  "H(i)_m": 151.43
                },
                {
                  "year": 2007,
                  "month": 7,
                  "H(i)_m": 175.86
                },
                {
                  "year": 2007,
                  "month": 8,
                  "H(i)_m": 147.97
                },
                {
                  "year": 2007,
                  "month": 9,
                  "H(i)_m": 157
                },
                {
                  "year": 2007,
                  "month": 10,
                  "H(i)_m": 110.41
                },
                {
                  "year": 2007,
                  "month": 11,
                  "H(i)_m": 70.67
                },
                {
                  "year": 2007,
                  "month": 12,
                  "H(i)_m": 68.27
                },
                {
                  "year": 2008,
                  "month": 1,
                  "H(i)_m": 54.05
                },
                {
                  "year": 2008,
                  "month": 2,
                  "H(i)_m": 98.21
                },
                {
                  "year": 2008,
                  "month": 3,
                  "H(i)_m": 105.8
                },
                {
                  "year": 2008,
                  "month": 4,
                  "H(i)_m": 140.76
                },
                {
                  "year": 2008,
                  "month": 5,
                  "H(i)_m": 143.31
                },
                {
                  "year": 2008,
                  "month": 6,
                  "H(i)_m": 178.66
                },
                {
                  "year": 2008,
                  "month": 7,
                  "H(i)_m": 187.18
                },
                {
                  "year": 2008,
                  "month": 8,
                  "H(i)_m": 158.74
                },
                {
                  "year": 2008,
                  "month": 9,
                  "H(i)_m": 144.27
                },
                {
                  "year": 2008,
                  "month": 10,
                  "H(i)_m": 109.55
                },
                {
                  "year": 2008,
                  "month": 11,
                  "H(i)_m": 47.93
                },
                {
                  "year": 2008,
                  "month": 12,
                  "H(i)_m": 65.89
                },
                {
                  "year": 2009,
                  "month": 1,
                  "H(i)_m": 50.46
                },
                {
                  "year": 2009,
                  "month": 2,
                  "H(i)_m": 88.97
                },
                {
                  "year": 2009,
                  "month": 3,
                  "H(i)_m": 144.06
                },
                {
                  "year": 2009,
                  "month": 4,
                  "H(i)_m": 138.23
                },
                {
                  "year": 2009,
                  "month": 5,
                  "H(i)_m": 166.96
                },
                {
                  "year": 2009,
                  "month": 6,
                  "H(i)_m": 193.79
                },
                {
                  "year": 2009,
                  "month": 7,
                  "H(i)_m": 179.54
                },
                {
                  "year": 2009,
                  "month": 8,
                  "H(i)_m": 183.41
                },
                {
                  "year": 2009,
                  "month": 9,
                  "H(i)_m": 147.73
                },
                {
                  "year": 2009,
                  "month": 10,
                  "H(i)_m": 113.99
                },
                {
                  "year": 2009,
                  "month": 11,
                  "H(i)_m": 60.85
                },
                {
                  "year": 2009,
                  "month": 12,
                  "H(i)_m": 55.44
                },
                {
                  "year": 2010,
                  "month": 1,
                  "H(i)_m": 62.54
                },
                {
                  "year": 2010,
                  "month": 2,
                  "H(i)_m": 82.37
                },
                {
                  "year": 2010,
                  "month": 3,
                  "H(i)_m": 137.52
                },
                {
                  "year": 2010,
                  "month": 4,
                  "H(i)_m": 184.2
                },
                {
                  "year": 2010,
                  "month": 5,
                  "H(i)_m": 162.54
                },
                {
                  "year": 2010,
                  "month": 6,
                  "H(i)_m": 164.23
                },
                {
                  "year": 2010,
                  "month": 7,
                  "H(i)_m": 195.08
                },
                {
                  "year": 2010,
                  "month": 8,
                  "H(i)_m": 176.69
                },
                {
                  "year": 2010,
                  "month": 9,
                  "H(i)_m": 156.72
                },
                {
                  "year": 2010,
                  "month": 10,
                  "H(i)_m": 108.96
                },
                {
                  "year": 2010,
                  "month": 11,
                  "H(i)_m": 48.73
                },
                {
                  "year": 2010,
                  "month": 12,
                  "H(i)_m": 51.72
                },
                {
                  "year": 2011,
                  "month": 1,
                  "H(i)_m": 54.69
                },
                {
                  "year": 2011,
                  "month": 2,
                  "H(i)_m": 69.07
                },
                {
                  "year": 2011,
                  "month": 3,
                  "H(i)_m": 133.18
                },
                {
                  "year": 2011,
                  "month": 4,
                  "H(i)_m": 191.1
                },
                {
                  "year": 2011,
                  "month": 5,
                  "H(i)_m": 207.83
                },
                {
                  "year": 2011,
                  "month": 6,
                  "H(i)_m": 169.19
                },
                {
                  "year": 2011,
                  "month": 7,
                  "H(i)_m": 180.63
                },
                {
                  "year": 2011,
                  "month": 8,
                  "H(i)_m": 152.51
                },
                {
                  "year": 2011,
                  "month": 9,
                  "H(i)_m": 144.94
                },
                {
                  "year": 2011,
                  "month": 10,
                  "H(i)_m": 98.17
                },
                {
                  "year": 2011,
                  "month": 11,
                  "H(i)_m": 68.08
                },
                {
                  "year": 2011,
                  "month": 12,
                  "H(i)_m": 48.46
                },
                {
                  "year": 2012,
                  "month": 1,
                  "H(i)_m": 54.86
                },
                {
                  "year": 2012,
                  "month": 2,
                  "H(i)_m": 72.19
                },
                {
                  "year": 2012,
                  "month": 3,
                  "H(i)_m": 146.76
                },
                {
                  "year": 2012,
                  "month": 4,
                  "H(i)_m": 146.66
                },
                {
                  "year": 2012,
                  "month": 5,
                  "H(i)_m": 183.75
                },
                {
                  "year": 2012,
                  "month": 6,
                  "H(i)_m": 156.54
                },
                {
                  "year": 2012,
                  "month": 7,
                  "H(i)_m": 169.16
                },
                {
                  "year": 2012,
                  "month": 8,
                  "H(i)_m": 187.24
                },
                {
                  "year": 2012,
                  "month": 9,
                  "H(i)_m": 148.63
                },
                {
                  "year": 2012,
                  "month": 10,
                  "H(i)_m": 78.38
                },
                {
                  "year": 2012,
                  "month": 11,
                  "H(i)_m": 66.29
                },
                {
                  "year": 2012,
                  "month": 12,
                  "H(i)_m": 57.12
                },
                {
                  "year": 2013,
                  "month": 1,
                  "H(i)_m": 43.33
                },
                {
                  "year": 2013,
                  "month": 2,
                  "H(i)_m": 73.61
                },
                {
                  "year": 2013,
                  "month": 3,
                  "H(i)_m": 111.65
                },
                {
                  "year": 2013,
                  "month": 4,
                  "H(i)_m": 149.2
                },
                {
                  "year": 2013,
                  "month": 5,
                  "H(i)_m": 138.13
                },
                {
                  "year": 2013,
                  "month": 6,
                  "H(i)_m": 161.99
                },
                {
                  "year": 2013,
                  "month": 7,
                  "H(i)_m": 201.91
                },
                {
                  "year": 2013,
                  "month": 8,
                  "H(i)_m": 194.56
                },
                {
                  "year": 2013,
                  "month": 9,
                  "H(i)_m": 137.42
                },
                {
                  "year": 2013,
                  "month": 10,
                  "H(i)_m": 93.01
                },
                {
                  "year": 2013,
                  "month": 11,
                  "H(i)_m": 65.17
                },
                {
                  "year": 2013,
                  "month": 12,
                  "H(i)_m": 69.01
                },
                {
                  "year": 2014,
                  "month": 1,
                  "H(i)_m": 57.46
                },
                {
                  "year": 2014,
                  "month": 2,
                  "H(i)_m": 85.35
                },
                {
                  "year": 2014,
                  "month": 3,
                  "H(i)_m": 149.21
                },
                {
                  "year": 2014,
                  "month": 4,
                  "H(i)_m": 153.6
                },
                {
                  "year": 2014,
                  "month": 5,
                  "H(i)_m": 167.33
                },
                {
                  "year": 2014,
                  "month": 6,
                  "H(i)_m": 193
                },
                {
                  "year": 2014,
                  "month": 7,
                  "H(i)_m": 180.95
                },
                {
                  "year": 2014,
                  "month": 8,
                  "H(i)_m": 164.24
                },
                {
                  "year": 2014,
                  "month": 9,
                  "H(i)_m": 175.07
                },
                {
                  "year": 2014,
                  "month": 10,
                  "H(i)_m": 111.84
                },
                {
                  "year": 2014,
                  "month": 11,
                  "H(i)_m": 69.67
                },
                {
                  "year": 2014,
                  "month": 12,
                  "H(i)_m": 41.94
                },
                {
                  "year": 2015,
                  "month": 1,
                  "H(i)_m": 60.54
                },
                {
                  "year": 2015,
                  "month": 2,
                  "H(i)_m": 83.93
                },
                {
                  "year": 2015,
                  "month": 3,
                  "H(i)_m": 119.11
                },
                {
                  "year": 2015,
                  "month": 4,
                  "H(i)_m": 159.89
                },
                {
                  "year": 2015,
                  "month": 5,
                  "H(i)_m": 172.97
                },
                {
                  "year": 2015,
                  "month": 6,
                  "H(i)_m": 206.49
                },
                {
                  "year": 2015,
                  "month": 7,
                  "H(i)_m": 189.31
                },
                {
                  "year": 2015,
                  "month": 8,
                  "H(i)_m": 169.69
                },
                {
                  "year": 2015,
                  "month": 9,
                  "H(i)_m": 155.57
                },
                {
                  "year": 2015,
                  "month": 10,
                  "H(i)_m": 107.21
                },
                {
                  "year": 2015,
                  "month": 11,
                  "H(i)_m": 71.71
                },
                {
                  "year": 2015,
                  "month": 12,
                  "H(i)_m": 68.92
                },
                {
                  "year": 2016,
                  "month": 1,
                  "H(i)_m": 58.16
                },
                {
                  "year": 2016,
                  "month": 2,
                  "H(i)_m": 83.49
                },
                {
                  "year": 2016,
                  "month": 3,
                  "H(i)_m": 127.22
                },
                {
                  "year": 2016,
                  "month": 4,
                  "H(i)_m": 134.16
                },
                {
                  "year": 2016,
                  "month": 5,
                  "H(i)_m": 150.18
                },
                {
                  "year": 2016,
                  "month": 6,
                  "H(i)_m": 141.9
                },
                {
                  "year": 2016,
                  "month": 7,
                  "H(i)_m": 192.09
                },
                {
                  "year": 2016,
                  "month": 8,
                  "H(i)_m": 201.17
                },
                {
                  "year": 2016,
                  "month": 9,
                  "H(i)_m": 133.09
                },
                {
                  "year": 2016,
                  "month": 10,
                  "H(i)_m": 100.11
                },
                {
                  "year": 2016,
                  "month": 11,
                  "H(i)_m": 73.72
                },
                {
                  "year": 2016,
                  "month": 12,
                  "H(i)_m": 67.79
                },
                {
                  "year": 2017,
                  "month": 1,
                  "H(i)_m": 68.28
                },
                {
                  "year": 2017,
                  "month": 2,
                  "H(i)_m": 76.84
                },
                {
                  "year": 2017,
                  "month": 3,
                  "H(i)_m": 107.79
                },
                {
                  "year": 2017,
                  "month": 4,
                  "H(i)_m": 182.68
                },
                {
                  "year": 2017,
                  "month": 5,
                  "H(i)_m": 178.04
                },
                {
                  "year": 2017,
                  "month": 6,
                  "H(i)_m": 195.74
                },
                {
                  "year": 2017,
                  "month": 7,
                  "H(i)_m": 160.97
                },
                {
                  "year": 2017,
                  "month": 8,
                  "H(i)_m": 177.19
                },
                {
                  "year": 2017,
                  "month": 9,
                  "H(i)_m": 135.48
                },
                {
                  "year": 2017,
                  "month": 10,
                  "H(i)_m": 113.44
                },
                {
                  "year": 2017,
                  "month": 11,
                  "H(i)_m": 71.51
                },
                {
                  "year": 2017,
                  "month": 12,
                  "H(i)_m": 48.5
                },
                {
                  "year": 2018,
                  "month": 1,
                  "H(i)_m": 47.71
                },
                {
                  "year": 2018,
                  "month": 2,
                  "H(i)_m": 89.95
                },
                {
                  "year": 2018,
                  "month": 3,
                  "H(i)_m": 114.66
                },
                {
                  "year": 2018,
                  "month": 4,
                  "H(i)_m": 142.17
                },
                {
                  "year": 2018,
                  "month": 5,
                  "H(i)_m": 194.73
                },
                {
                  "year": 2018,
                  "month": 6,
                  "H(i)_m": 183.58
                },
                {
                  "year": 2018,
                  "month": 7,
                  "H(i)_m": 205.5
                },
                {
                  "year": 2018,
                  "month": 8,
                  "H(i)_m": 196.9
                },
                {
                  "year": 2018,
                  "month": 9,
                  "H(i)_m": 162.75
                },
                {
                  "year": 2018,
                  "month": 10,
                  "H(i)_m": 116.81
                },
                {
                  "year": 2018,
                  "month": 11,
                  "H(i)_m": 72.95
                },
                {
                  "year": 2018,
                  "month": 12,
                  "H(i)_m": 39
                },
                {
                  "year": 2019,
                  "month": 1,
                  "H(i)_m": 54.63
                },
                {
                  "year": 2019,
                  "month": 2,
                  "H(i)_m": 105.57
                },
                {
                  "year": 2019,
                  "month": 3,
                  "H(i)_m": 144.49
                },
                {
                  "year": 2019,
                  "month": 4,
                  "H(i)_m": 165.85
                },
                {
                  "year": 2019,
                  "month": 5,
                  "H(i)_m": 179.42
                },
                {
                  "year": 2019,
                  "month": 6,
                  "H(i)_m": 190.89
                },
                {
                  "year": 2019,
                  "month": 7,
                  "H(i)_m": 218.72
                },
                {
                  "year": 2019,
                  "month": 8,
                  "H(i)_m": 170.29
                },
                {
                  "year": 2019,
                  "month": 9,
                  "H(i)_m": 152.39
                },
                {
                  "year": 2019,
                  "month": 10,
                  "H(i)_m": 83.44
                },
                {
                  "year": 2019,
                  "month": 11,
                  "H(i)_m": 59.09
                },
                {
                  "year": 2019,
                  "month": 12,
                  "H(i)_m": 58.88
                },
                {
                  "year": 2020,
                  "month": 1,
                  "H(i)_m": 64.89
                },
                {
                  "year": 2020,
                  "month": 2,
                  "H(i)_m": 85.61
                },
                {
                  "year": 2020,
                  "month": 3,
                  "H(i)_m": 142.16
                },
                {
                  "year": 2020,
                  "month": 4,
                  "H(i)_m": 176.35
                },
                {
                  "year": 2020,
                  "month": 5,
                  "H(i)_m": 210.54
                },
                {
                  "year": 2020,
                  "month": 6,
                  "H(i)_m": 155.82
                },
                {
                  "year": 2020,
                  "month": 7,
                  "H(i)_m": 207.91
                },
                {
                  "year": 2020,
                  "month": 8,
                  "H(i)_m": 168.33
                },
                {
                  "year": 2020,
                  "month": 9,
                  "H(i)_m": 151.82
                },
                {
                  "year": 2020,
                  "month": 10,
                  "H(i)_m": 82.14
                },
                {
                  "year": 2020,
                  "month": 11,
                  "H(i)_m": 88.67
                },
                {
                  "year": 2020,
                  "month": 12,
                  "H(i)_m": 54.77
                }
              ]
            }
            let total = 0
            let max = 0
            values["monthly"].forEach(element => {
              total += element["H(i)_m"]
              if(element["H(i)_m"] > max)
                max = element["H(i)_m"]
            });
            let daily_avg = total / (values["monthly"].length / 12 * 365.25)

            this.avg_daily_theo_prod = (daily_avg * this.surface_panneaux * this.rendement).toFixed(2)
            this.best_month_daily_theo_prod = (max * this.surface_panneaux * this.rendement / 30.5).toFixed(2)
            this.max_fish = (this.best_month_daily_theo_prod / this.kwc_installed).toFixed(2)
            this.avg_fish = (this.avg_daily_theo_prod / this.kwc_installed).toFixed(2)
          }
        }
      }).mount('#app')
    </script>
</body>
</html>
